body, html {
  margin: 0;
  height: 100%;
  font-family: 'Nunito Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.voltar{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center; 
}

.voltar .active{
  margin: 0;
  padding: 0;
}
.voltar img{
  height: 3.7rem;
}